<!DOCTYPE html>
<head>
    <title>Student Report</title>
</head>
<body>
<div id="output">
</div>

<script>
    //JSON data
    var jsonData = <!-- JSON_DATA -->;


    function formatStudentData(data) {
        var outputDiv = document.getElementById("output");

        data.forEach(function (student) {
            var studentDiv = document.createElement("div");
            studentDiv.innerHTML = student.studentName + ", Total Credit " + student.totalCredits;

            student.courseNames.forEach(function (course, i) {
                var courseDiv = document.createElement("div");
                courseDiv.innerHTML = course + ", Total Time: " + student.totalTimes[i] + ", Credit: " + student.courseCredits[i] + ", Instructor Name: " + student.instructorNames[i];
                studentDiv.appendChild(courseDiv);
            });

            outputDiv.appendChild(studentDiv);
        });

    }

    formatStudentData(jsonData);
</script>
</body>
